<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Edit Collaborator</h1>

      <form action="/wikis/<%= collaborator.wikiId %>/collaborators/<%= collaborator.id %>/update" method="post">
        <div class="form-group">
          <label for="name">Collaborator name</label>
          <input value="<%= collaborator.name %>" type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
