
<h3>Collaborators</h3>
<br>
  <form action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
  <div class="form-group">
    <label for="name">Would you like to add a collaborator?</label>
    <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name">
  </div>
  <button type="submit" class="btn btn-primary">Add collaborator</button>
</form>
