<form action="/wikis/<%= wiki.id %>/collaborators/remove" method="post">
  <div class="form-group">
  <label for="exampleFormControlSelect1"> Need to remove a collaborator? Select one: </label>
    <select class="form-control" id="exampleFormControlSelect1">

      <% wiki.collaborators.forEach((collaborator) => { %>

      <option><%= collaborator.name%></option>

        <% }) %>

    </select>
  </div>
  <button type="submit" class="btn btn-danger">Remove Collaborator</button>
</form>
