<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>
  <main class="container">
    <h1><%= collaborator.name %></h1>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>
