
<% if(wiki.collaborators) { %>
  <div class="card">
    <div class="card-body text-center">
      <ul class="list-group list-group-flush">
        <% wiki.collaborators.forEach((collaborator) => { %>
          <li class="list-group-item">
             <%= collaborator.name %>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>

<% } else { %>

  <div class="card">
    <div class="card-body">
      No collaborators have been added to this wiki.
    </div>
  </div>
  
<% } %>