
<% if(collaborators) { %>
<br>

  <div class="card">
    <div class="card-body text-center">
      <h5>Collaborators:</h5>
    </div>
  </div>

<br>

  <ul class="list-group list-group-flush">
    <% collaborators.forEach((collaborator) => { %>
      <li class="list-group-item">
         <%- collaborator.User.name%> see if this shows up in wiki/show.ejs
      </li>
    <% }) %>
  </ul>

<% } %>
