<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <main class="container min-vh-100 shadow">
    <% include ../static/partials/navbar.ejs %>

      <div class="row mx-5">
        <!-- Edit Wiki Form -->
        <div class="col-lg-8">
        <h1 class="text-center mt-5">Edit Wiki</h1>
        <hr class="divider">
        <form action="/wikis/<%= wiki.id %>/update" method="post">
          <div class="form-group">
            <label for="title">Title</label>
            <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="body">Body</label>
            <textarea rows="4" class="form-control" name="body" placeholder="Enter Body"><%= wiki.body %></textarea>
          </div>

        <% if(currentUser.role !== 0){ %>

          <div class="form-group">
            <label for="private">Would you like this to be public or private?</label>
            <select class="form-control" name="private">
              <option value="false">Public</option>
              <option value="true">Private</option>
            </select>
          </div>

        <% } %>

          <button type="submit" class="btn btn-outline-info shadow-sm">Update</button>
        </form>

        <% if ((wiki.private === true) && currentUser && (currentUser.role == 2 || (currentUser.role == 1 && currentUser.id == wiki.userId))) { %>
        <br>
        <h2 class="text-center">Collaborators</h2>
        <hr class="divider">
        <% include ../collaborators/remove.ejs %>
        
        <% include ../collaborators/new.ejs %>

        <% } %>
        </div>

            <!--Markdown guide-->
      <div class="col-lg-4">
        <div class="card p-3 my-3 border bg-light text-center shadow-sm">
          <h3 class="my-4"> Markdown Guide </h3>
          <p class="text-muted">Learn markdown syntax. Used for styling and formatting text.</p>
          <p>Example: ####I'm a smaller header!</p>
          <span>Becomes:</span><h4 class="mb-4">I'm a smaller header!</h4>
          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item list-group-item-secondary">
              <span>Quick Syntax Guide:</span>
            </li>
            <li class="list-group-item">
              <span>#</span>
              Largest header
            </li>
            <li class="list-group-item">
              <span>##</span>
              Medium header
            </li>
            <li class="list-group-item">
              <span>###</span>
              Smaller header
            </li>
            <li class="list-group-item">
              <span>*</span>
              Italic text
            </li>
            <li class="list-group-item">
              <span>**</span>
              Bold text
            </li>
            <li class="list-group-item">
              <span>~~text~~</span>
              Strikethrough text
            </li>
          </ul>
          <a class="btn btn-info mb-4 shadow-sm" href="https://guides.github.com/features/mastering-markdown/"  target="_blank">Markdown cheatsheet</a>
        </div>
      </div>

      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
