<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">

      <h1>New Wiki</h1>

    <% if(currentUser && currentUser.role === 1) { %>

      <h3>Would you like to make this:</h3>

        <form action="/wikis/<%= wiki.id %>/private" method="post">
          <button type="button" class="btn btn-info">Private</button>
        </form>
      <h3>or...</h3>
        <form action="/wikis/<%= wiki.id %>/public" method="post">
          <button type="button" class="btn btn-success">Public</button>
        </form>

      <form action="/wikis/create" method="post">
        <div class="form-group">
          <label for="title">Wiki title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title" form="create">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Information" form="create"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" form="create">Submit</button>
      </form>

    <% } else if (currentUser && currentUser.role === 0) { %>

      <form action="/wikis/create" method="post">
        <div class="form-group">
          <label for="title">Wiki title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title" form="create">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Information" form="create"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" form="create">Submit</button>
      </form>

    <% } %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
