<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">

      <h1>New Wiki</h1>

  <% if(currentUser && currentUser.role === 1 || currentUser.role === 2) { %>

      <form>
        <div class="form-group">
          <label for="title">Wiki title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title" form="create">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Information" form="create"></textarea>
        </div>
        <p>Choose between creating a:</p>

        <button type="submit" class="btn btn-primary" formaction="/wikis/create" method="post">Create Public Wiki</button>

        <button type="submit" class="btn btn-info" formaction="/wikis/private" method="post">Create Private Wiki</button>

      </form>


    <% } else if (currentUser && currentUser.role === 0) { %>

      <form action="/wikis/create" method="post">
        <div class="form-group">
          <label for="title">Wiki title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title" form="create">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Information" form="create"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" form="create">Submit</button>
      </form>

    <% } %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
