<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <div class="new-wiki-page">
    <main class="container">

        <h1 class="text-center">New Wiki</h1>

        <div id="newWiki-row" class="row">
      <!--Markdown guide-->
        <div class="col-3 border bg-light">
         <h4 class="card-title" style="margin-top: 40px;">Markdown Guide</h4>
         <p class="card-text">Learn markdown syntax. Used for styling and formatting text.</p>
         <p># Largest header</p>
         <p>## Medium header</p>
         <p>### Smallest header</p>
         <p>* Italic text</p>
         <p>** Bold text</p>
         <p>~~text~~ Strikethrough text</p>
         <a href="https://guides.github.com/features/mastering-markdown/" class="btn btn-success mb-5" target="_blank">Markdown cheatsheet</a>
        </div>

      <!-- New wiki creation -->
        <div class="col">
          <form action="/wikis/create" method="post">
            <!--Top part of form entry for all wiki users-->
             <div class="form-group">
               <label for="title">Title</label>
               <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
             </div>
             <div class="form-group">
               <label for="body">Body</label>
               <textarea rows="4" class="form-control" name="body" placeholder="Enter Body"></textarea>
             </div>

         <% if(currentUser.role !== 0){ %>

           <!--Premium/admin users section for choosing public or private wiki-->
               <div class="form-group">
                 <label for="private">Would you like to make this wiki public or private?</label>
                 <select class="form-control" name="private">
                   <option value="false">Public</option>
                   <option value="true">Private</option>
                 </select>
               </div>
         <% } %>
             <button type="submit" class="btn btn-info rounded-pill">Submit</button>
           </form>
         </div>
      </div>

    </main>
  </div>

    <% include ../static/partials/baseScripts.ejs %>

  </body>

</html>
