<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <main class="container shadow">
    <div class="new-wiki-page">
      <% include ../static/partials/navbar.ejs %>

      <div class="row mx-5" id="newWiki-row">
      <!--Markdown guide-->
      <div class="col-md-4 border bg-light text-center shadow-sm">
        <h4 class="mt-4"> Markdown Guide </h4>
        <p class="text-muted">Learn markdown syntax. Used for styling and formatting text.</p>
        <p>Example: ###I'm a smaller header!</p>
        <span>Becomes:</span><h3 class="mb-4">I'm a smaller header!</h3>
        <ul class="list-group list-group-flush mb-4">
          <li class="list-group-item list-group-item-secondary">
            <span>Quick Syntax Guide:</span>
          </li>
          <li class="list-group-item bg-light">
            <span>#</span>
            Largest header
          </li>
          <li class="list-group-item">
            <span>##</span>
            Medium header
          </li>
          <li class="list-group-item">
            <span>###</span>
            Smaller header
          </li>
          <li class="list-group-item">
            <span>*</span>
            Italic text
          </li>
          <li class="list-group-item">
            <span>**</span>
            Bold text
          </li>
          <li class="list-group-item">
            <span>~~text~~</span>
            Strikethrough text
          </li>
        </ul>

        <a class="btn btn-info rounded-pill mb-4 shadow-sm" href="https://guides.github.com/features/mastering-markdown/"  target="_blank">Markdown cheatsheet</a>
      </div>

      <!-- New wiki creation -->
        <div class="col-md-8 vh-100">
          <h1 class="text-center">New Wiki</h1>

          <form action="/wikis/create" method="post">
            <!--Top part of form entry for all wiki users-->
             <div class="form-group">
               <label for="title">Title</label>
               <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
             </div>
             <div class="form-group">
               <label for="body">Body</label>
               <textarea rows="4" class="form-control" name="body" placeholder="Enter Body"></textarea>
             </div>

         <% if(currentUser.role !== 0){ %>

           <!--Premium/admin users section for choosing public or private wiki-->
               <div class="form-group">
                 <label for="private">Would you like to make this wiki public or private?</label>
                 <select class="form-control" name="private">
                   <option value="false">Public</option>
                   <option value="true">Private</option>
                 </select>
               </div>
         <% } %>
             <button type="submit" class="btn btn-outline-info rounded-pill shadow-sm">Submit</button>
           </form>

         </div>
      </div>

    </main>
  </div>

    <% include ../static/partials/baseScripts.ejs %>

  </body>

</html>
