<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>New Collaborator</h1>

      <form action="/wikis/<%= wikiId %>/collaborators/create" method="post">
        <div class="form-group">
          <label for="name">Collaborator name</label>
          <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>

<div class="row">
  <div class="col-md-8">
    <form method="POST" action="/users">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Enter Name" class="form-control"/>
      </div>


<form style="width:50%" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
  <div class="form-group">
    <label for="body">New Collaborator</label>
    <textarea  class="form-control" name="body" aria-describedby="bodyHelp" placeholder="Enter collaborator name"></textarea>
    <small class="text-muted" id="bodyHelp">name must be 5 or more characters in length.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
