<form style="width:50%" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
  <div class="form-group">
    <label for="body">New Collaborator</label>
    <textarea  class="form-control" name="body" aria-describedby="bodyHelp" placeholder="Enter collaborator name"></textarea>
    <small class="text-muted" id="bodyHelp">name must be 5 or more characters in length.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
