<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <div class="show-wiki-page">
    <main class="container">

        <div class="row">
          <div class="col text-center">
            <h1 class="text-center"> <%- wiki.title %> </h1>
            <p class="mt-5"><%- wiki.body %></p>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
          <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>

          <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>

    </main>
    </div>
    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
