body {
	padding-top: 104px;
}

<!--- Navbar --->
#signup-link {
	border: 2px solid #75C5BF;
	border-radius: 25px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
	color: #46a7a0;
}

#signin-link {
	border: 2px solid #E9ECEF;
	border-radius: 25px;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: 10px;
}

#navbarDropdown {
 	color: #46a7a0;
}

#navbarDropdown:hover {
 	color: #2f716c;
}

.fa-user {
	padding-right: 4px;
}

.fa-user-plus {
	padding-right: 4px;
}

.fa-sign-in-alt {
	padding-right: 5px;
}

.fa-sign-out-alt {
	padding-right: 4px;
}

<!--- Profile page --->

#profileTitle {
	color: yellow;
}

#membershipDetails {
}
