$primary-color: #17a2b8;
$secondary-green-color: #7BC290;
$secondary-yellow-color: #F0E400;
$primary-font-family: 'Open Sans', sans-serif;
$accent-font-family: 'Lora', serif;
$top-padding: 100px;

html, body {
  height: 100%;
  font-family: $primary-font-family;
}

.alert-messages {
  padding-top: 80px;
}

/*     Main static index page - User not signed in     */
.main-index-page {
  padding: 100px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero {
  span {
    color: $primary-color;
    font-family: $accent-font-family;
    font-weight: 900;
  }
  img {
    padding: 30px;
  }
  .fa-plus {
    padding-right: 5px;
  }
}

.page-features {
  i {
    color: $primary-color;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .border {
    border: 3px solid black;
  }
}

/*     Main index page - Signed in user    */
.signedinUser-index {
  h1 {
    font-family: $accent-font-family;
  }
}
