@import "indexpage";

.sign-in-page {
  .container {
    padding-top: 150px;
  }
}

.card {
  .card-header {
    font-family: $accent-font-family;
  }

}

.sign-up-page {
  .container {
    padding-top: 100px;
  }
}

.card {
  .card-header {
    font-family: $accent-font-family;
  }
}

.user-profile-page {
  padding-top: 100px;

  strong {
    color: $primary-color;
  }

}
