@import 'indexpage';

/* Wiki Index Page */
.allwikis-index {
  h1 {
    font-family: $accent-font-family;
  }
  .fa-plus {
    font-size: 40px;
  }
}

.allwikis-list {
  padding-bottom: 75px;
}

/* New Wiki Page */
.new-wiki-page {
  padding-top: $top-padding;

  li {
    padding: 6px 20px;
  }
}

/* Edit Wiki Page */
.edit-wiki-page {
  padding-top: $top-padding;
  
  li {
    padding: 6px 20px;
  }
}

/* Show Wiki Page */
.show-wiki-page {
  padding-top: $top-padding;
}
