<!DOCTYPE html>
<html lang="en">
  <head>
   <% include ./partials/head.ejs %>
  </head>
  <body>

    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container-fluid mt-5 p-0">
    <div class="main-index-page">

      <% if(!currentUser) { %>

        <div class="hero container">
          <div class="row my-5 mx-lg-n5">
            <div class="col px-lg-5">
              <h1 class="my-4">Welcome to InQuisitive</h1>
              <p>Explore, collaborate, and share markdown wikis. Your team's favorite tool for bridging the knowledge gap.</p>
              <a class="btn btn-info rounded-pill text-center shadow-sm mt-2" href="/users/sign_up" role="button">
                <i class="fas fa-user-plus pr-2"></i> Sign up for free
              </a>
              <img class="img-fluid float-right"  
                    src="https://res.cloudinary.com/laurameehan/image/upload/c_scale,h_320,w_640/v1575153428/pixel-3699343_1280_j1garn.png" 
                    alt="Bridging the knowledge gap">
            </div>
          </div>
        </div>

        <hr>

        <!-- Page Features -->
        <div class="page-features">
          <div class="container mb-5">
            <h2 class="text-center mt-5">Options</h2>
            <hr class="divider">
            <div class="row pt-5 ">
              <div class="col" id="freeplan-feature">
                <h3 class="text-secondary text-center mb-4">Free Plan</h3>
                <div class="card mb-5 mx-5 border-0">
                  <div class="row">
                    <div class="col">
                      <img src="https://res.cloudinary.com/laurameehan/image/upload/c_scale,h_340,w_480/v1575618263/break-3947908_1280_dyuslg.png" 
                           class="card-img border border-dark" alt="Free is relaxing as laying on a hammock in the sunshine">
                    </div>
                    <div class="col-6">
                      <div class="card-body">
                        <p class="card-text">Create as many public wikis as you want!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div class="col" id="premiumplan-feature">
                  <h3 class="text-secondary text-center mb-4">Premium Plan</h3>
                  <div class="card mb-3 mx-5 border-0">
                    <div class="row">
                      <div class="col-6">
                        <div class="card-body">
                         <p class="card-text mb-3">Create both public and exclusive private wikis!</p>
                        </div>
                      </div>
                      <div class="col">
                        <img class="img-fluid float-right border border-dark rounded" 
                             src="https://res.cloudinary.com/laurameehan/image/upload/c_scale,h_340,w_480/v1575617883/pixel-cells-3976295_1280_rsimxt.png" 
                             alt="Having a great idea">
                      </div>
                    </div>
                  </div>
                </div>

             </div>
            </div>

            <footer class="text-center bg-light text-muted p-5"><a href="https://github.com/lmariemeehan/InQuisitive" target="_blank">InQuisitive</a></footer>
          </div>

      <!--   Signed in Standard user index page   -->
      <% } else if(currentUser && currentUser.role === 0) { %>
        <div class="container-fluid">

            <div class="row">
              <div class="col text-center">
                <h1 class="my-4"> Hello <%= currentUser.name %>!</h1>
                <hr class="divider">
                <a class="btn btn-info rounded-pill mt-2 mb-5" href="/wikis/new" role="button">
                  <i class="fas fa-plus mr-1"></i> Create new wiki
                </a>
              </div>
            </div>

            <div class="row bg-light">
              <div class="col">
                <div class="card border-0 bg-secondary text-center my-5 w-50 mx-auto shadow">
                  <img class="card-img-top bg-white"  
                      src="https://res.cloudinary.com/laurameehan/image/upload/v1575617883/pixel-cells-3976295_1280_rsimxt.png" 
                      alt="Picture of having a great idea">
                  <div class="card-body text-white">
                    <h3 class="card-title text-uppercase">Upgrade to Premium</h3>
                    <h5 class="card-subtitle mb-2"> For only $15 </h5>
                    <p class="card-text">You can enjoy creating unlimited private wikis on all your devices.</p>
                    <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
                      <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_y4X6knOxUBsAt7gm4uUBUXth"
                      data-amount="1500"
                      data-name="Laura Meehan"
                      data-description="Example charge"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-locale="auto">
                    </script>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Signed in Premium user index page -->
      <% } else { %>

        <div class="container" id="premium-indexpage">
          <div class="row">
            <div class="d-flex flex-column mx-auto">
              <h1 class="text-center"> Welcome <span><%= currentUser.name %> !</span></h1>
              <img src="https://res.cloudinary.com/laurameehan/image/upload/c_scale,h_320,w_640/v1575153428/pixel-3699343_1280_j1garn.png" 
                   class="img-fluid mt-4" alt="Bridging the knowledge gap">
              <a class="btn btn-info rounded-pill mt-5" 
                  href="/wikis/new" role="button"><i class="fas fa-plus mr-2"></i>
                  Create new wiki
              </a>
            </div>
          </div>
        </div>

      <% } %>
      </div>
    </main>
    <!-- /.container -->
    <% include ./partials/baseScripts.ejs %>

  </body>
</html>
