<!DOCTYPE html>
  <head>
   <% include ./partials/head.ejs %>
  </head>

  <body>
    <!-- Navigation -->
       <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">

      <!-- Signed in Standard user index page -->
      <% if(currentUser && currentUser.role === 0) { %>
        <header class="jumbotron jumbotron-fluid">
          <div class="container">
          <h1 class="display-4">Upgrade to Premium</h1>
          <hr>
          <h3> Enjoy creating unlimited private wikis on all your devices. </h3>
          <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_y4X6knOxUBsAt7gm4uUBUXth"
            data-amount="1500"
            data-name="Laura Meehan"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
          </form>
          <br>
          <p>*Terms and conditions may apply</p>
          </div>
        </header>

        <!-- Signed in Premium user index page -->
      <% } else if (currentUser && currentUser.role === 1) { %>
        <header class="jumbotron jumbotron-fluid">
          <div class="container">
          <h1 class="display-4">Thank you for being a premium user!</h1>
          <p>What would you like to do?</p>
          <a href="/wikis/new" class="btn btn-success">Create a New Wiki</a>
          </div>
        </header>

    <% } else { %>

      <!-- Either not a subscribed yet or signed in user index page -->
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">

        <h1 class="display-3">Welcome to InQuisitive</h1>
        <p class="lead">Explore, collaborate, and the ability to share markdown wikis is at your disposal.</p>
        <a href="/users/sign_up" class="btn btn-primary btn-lg">Sign Up</a>

      </header>

      <!-- Page Features -->
      <section class="row text-center">

        <section class="col-lg-4">
          <h4 class="card-title">Free Plan</h4>
          <p class="card-text">Create as many public wikis as you want!</p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Premium Plan</h4>
          <p class="card-text">Create private wikis!</p>
          <a href="/users/upgrade" class="btn btn-success">Go Premium</a>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Markdown Guide</h4>
          <p class="card-text">Learn markdown syntax</p>
          <a href="https://guides.github.com/features/mastering-markdown/" class="btn btn-info">Markdown</a>
        </section>

      </section>
      <!-- /.row -->
  <% } %>
    </main>
    <!-- /.container -->
    <% include ./partials/baseScripts.ejs %>

  </body>
</html>
