<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <main class="container">
                <% include ../static/partials/messages.ejs %>

                <!-- Signed in Premium user subscription page -->
                <% if(currentUser.role === 1) { %>
                    <h1>Wish to go back to Standard?</h1>
                    <hr>
                    <p>Click the downgrade button below to go back to enjoying our free standard plan.</p>

                    <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
                        <button type="submit" class="btn btn-primary btn-lg">Downgrade</button>
                    </form>
                <% } else { %>

                  <!-- Signed in Standard user subscription page -->
                    <h1>Blocipedia Standard</h1>
                    <p>You're currently subscribed with the Blocipedia standard plan. As a standard subscriber you can create unlimited public wikis at no cost. If you would like to create your own private wikis you can upgrade to Blocipedia Premium at any time.</p>

                <% } %>
        </main>
       <%- include('../static/partials/baseScripts.ejs') -%>
    </body>
</html>
