<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
        <hr>
      <h1><%= `${user.name}'s profile` %></h1>


      <h2> Your Wikis </h2>
      <ul class="list-unstyled">
        <% if(wikis) { %>
            <% wikis.forEach((wiki) => { %>
              <li>
                <a href="/wikis/:id">
                  <%= wiki.title %>
                </a>
              </li>
            <% }) %>
          <% } %>
        </ul>


    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
