<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

    <div class="sign-up-page">
    <main class="container">

        <div class="row">
          <div class="col">
            <div class="card mx-auto w-75 border-0 shadow p-5 my-5">

              <div class="card-header bg-white">
                <h2>Create account</h2>
              </div>

             <div class="card-body">
               <form action="/users" method="POST">
                 <div class="form-group">
                   <label>Username:</label>
                   <input type="text" name="name" placeholder="...username" class="form-control"/>
                   <small class="text-muted" id="nameHelp">heyy ... what's your name? ;)</small>
                 </div>
                 <div class="form-group">
                   <label>Email:</label>
                   <input type="email" name="email" placeholder="... email" class="form-control"/>
                   <small class="text-muted" id="emailHelp">email address must be a valid address</small>
                 </div>
                 <div class="form-group">
                   <label>Password:</label>
                   <input type="password" name="password" placeholder="... password" class="form-control"/>
                   <small class="text-muted" id="passwordHelp">password must be at least 6 characters in length</small>
                 </div>
                 <div class="form-group">
                   <label>Password confirmation:</label>
                   <input type="password" name="password_conf" placeholder="...password confirmation" class="form-control"/>
                   <small class="text-muted">must match password provided</small>
                 </div><br/>
                 <input type="submit" value="Sign Up" class="btn btn-outline-info rounded-pill btn-lg btn-block"/>
               </form>
             </div>

           </div>
         </div>
       </div>

    </main>
  </div>
    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
