<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
      <% include ../static/partials/navbar.ejs %>
      <main class="container">
          <% include ../static/partials/messages.ejs %>
          <% if(currentUser && currentUser.role === 0) { %>
              <h1>Upgrade Your Account to Premium!</h1>
              <hr>
              <p> Create unlimited private wikis! </p>
              <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_y4X6knOxUBsAt7gm4uUBUXth"
                data-amount="1500"
                data-name="Laura Meehan"
                data-description="Example charge"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
              </script>
              </form>
          <% } else if (currentUser && currentUser.role === "premium") { %>
              <h2>You're already a premium user</h2>
              <p>See <a href="/users/downgrade">standard subscription</a> if you wish to downgrade.</p>
        <% } %>
      </main>
       <%- include('../static/partials/baseScripts.ejs') -%>
     </body>
  </html>
