<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
      <% include ../static/partials/navbar.ejs %>
      <main class="container">
          <% include ../static/partials/messages.ejs %>

          <!-- Signed in Standard user subscription page -->
          <% if(currentUser && currentUser.role === 0) { %>
              <h1>Upgrade Your Account to Premium!</h1>
              <hr>
              <p> Enjoy creating unlimited private wikis at a low cost of only $15/month!</p>

            <!--Stripe credit card payment-->
              <form action="/users/<%= currentUser.id %>/upgrade" method="POST">
                <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_y4X6knOxUBsAt7gm4uUBUXth"
                data-amount="1500"
                data-name="Laura Meehan"
                data-description="Example charge"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
              </script>
              </form>

              <!-- Signed in Premium user subscription page -->
          <% } else if (currentUser && currentUser.role === 1) { %>
            <h1>Blocipedia Premium</h1>
            <p>You're currently subscribed with the Blocipedia premium plan. As a premium subscriber you have the freedom to create both unlimited private and public wikis. </p>
            <p>At any time, see <a href="/users/:id/downgrade">standard subscription</a> if you wish to downgrade.</p>
        <% } %>
      </main>
       <%- include('../static/partials/baseScripts.ejs') -%>
     </body>
  </html>
